{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <h1><marquee >Selamat Datang Ditoko Kami</marquee></h1>
	
	<div class="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/placeholderventela.jpg' %}">
			<div class="box-element product">
				<h6><strong> ventela High Yellow </strong></h6>
				<hr>
            
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.249.900</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/ventelapubliclow.jpg' %}">
			<div class="box-element product">
				<h6><strong>Ventela Low</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.229.900</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/ventelahigh.jpg' %}">
			<div class="box-element product">
				<h6><strong>Ventela Noir</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.350.000</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/balanceblue.jpg' %}">
			<div class="box-element product">
				<h6><strong>New Balance 5740 Blue</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.549.000</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/balance women.jpg' %}">
			<div class="box-element product">
				<h6><strong>New Balance 990 White Blue</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.530.000</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/balance.jpg' %}">
			<div class="box-element product">
				<h6><strong>New Balance 992 Grey</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.530.000</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/converseboy.jpg' %}">
			<div class="box-element product">
				<h6><strong>Converse</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.674.900</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/conversegirl.jpg' %}">
			<div class="box-element product">
				<h6><strong>Sneakers Wanita</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.250.000</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/conversewhite.jpg' %}">
			<div class="box-element product">
				<h6><strong>Converse HIgh 70s</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.559.900</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/placeholder10.jpg' %}">
			<div class="box-element product">
				<h6><strong>Air Force 1 PInk </strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.650.000</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/placeholder11.jpg' %}">
			<div class="box-element product">
				<h6><strong>Air Jordan High</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.1.549.000</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/nikegrey.jpg' %}">
			<div class="box-element product">
				<h6><strong>Air Force 1 Grey</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.1.200.000</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/nikepink.jpg' %}">
			<div class="box-element product">
				<h6><strong>Air Force !</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.650.000</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/nikewhite.jpg' %}">
			<div class="box-element product">
				<h6><strong>Air Forece 1 White</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.1.250.000</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/placeholder12.jpg' %}">
			<div class="box-element product">
				<h6><strong>Air Force 1</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.650.000</strong></h4>
				
			</div>
		</div>

		

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/placeholder17.jpg' %}">
			<div class="box-element product">
				<h6><strong>Air Force 1</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>RP.650.000</strong></h4>
				
			</div>
		</div>

	</div>

	</div>
{% endblock content %}